 {% extends '::base.html.twig' %} {% block body %}
<section class="wrap">
	<header class="header">
		<a href="/" class="headerLogo"><svg>
			<use xlink:href="/fonts/header.svg#shapeLogo"></use></svg></a>
		<div class="headerCases">
			<div class="headerCasesLine"></div>
			<div class="headerCasesFilters">
				<button class="cta grey small rounded">西雅图</button>
				<button class="cta grey small rounded">旧金山</button>
				<button class="cta grey small rounded">洛杉矶</button>
			</div>
		</div>
	</header>
	<section class="builderSlider">
		<div id="builder-carousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{% for photo in builder.getAlbum().getPhotos() %} {% if loop.first
				%}
				<li data-target="builder-carousel" data-slide-to="{{ loop.index }}"
					class="active"></li> {% else %}
				<li data-target="builder-carousel" data-slide-to="{{ loop.index }}"></li>
				{% endif %} {% endfor %}
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				{% for photo in builder.getAlbum().getPhotos() %} {% if loop.first
				%}
				<div class="item active">
					{% else %}
					<div class="item">
						{% endif %} <img src="{{ '/uploads/'~photo.getPath()~'.jpg' }}">
					</div>
					{% endfor %}
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#builder-carousel"
					role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#builder-carousel"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
	
	</section>
	<section class="builderContent">
		<div class="row builderTitle">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="fadeInUp">
					{{ builder.getName() }}<a href="{{ builder.getWebsite() }}"
						target="_blank"></a>
				</h2>
			</div>
		</div>
		<div class="row caseElementText">
			<div class="col-md-10 col-md-offset-1">
				<p>{{ builder.getDescription() }}</p>
			</div>
		</div>
	</section>
</section>

{% endblock %} {% block javascripts %} {% endblock %}
