 {% extends '::base.html.twig' %} {% block body %}
<div class="container">
	{{ include('::header.html.twig') }}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 model-gallery">
			<div id="container">
				{% for model_price in model_price_array %}
				<div class="pin">
					<a href="{{ path('model', {'id': model_price['model'].getId()}) }}"> <img
						class="pin-image"
						src="{{ '/uploads/'~model_price['model'].getFacades()[0].getPath()~'.jpg' }}"></a>
					<div class="row">
						<div class="col-xs-12">
							<h5>{{ model_price['model'].getName() }}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ (model_price['model'].getSquareFeet() *
							0.092903) | round}} 平方米， {{ model_price['model'].getNumBeds() }}卧，{{ model_price['model'].getNumBaths() }}卫
						</div>
						<div class="col-xs-12">￥{{ (model_price['price'] * 6.3 / 10000) |
							round }} 万元</div>
					</div>
					{% if not model_price['model'].getImages() is empty %}
					<div class="ribbon-wrapper-green">
						<div class="ribbon-green">样板间</div>
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="piece">
				<h4>
					<a href="{{ path('community', {'id': community.getId()}) }}">{{
						community.getName() }}社区</a>
				</h4>
				<table class="table table-hover">
					<tbody>
						<tr>
							<td scope="row">地址： {{ community.getAddress() }} {{
								community.getCity() }}, {{ community.getState() }} {{
								community.getZipcode() }}</td>
						</tr>
						<tr>
							<td scope="row">现房：{{ model_price_array|length }}套</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="piece" id="map-piece">
				<h4>地图</h4>
				<div id="bing_map_canvas"></div>
			</div>
		</div>
	</div>
	<hr />
	{{ include('::footer.html.twig') }}
</div>
{% endblock %} {% block javascripts %}
<script type="text/javascript"
	src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script type="text/javascript">
    function getMap(){
        var w = $("#map-piece").width();
        var mapInitOpts = {
            credentials: 'AqpckLVrDZE9ehOKwFREOF16SWFONVDd9KqviWPOeoiE6oSn-Fu6YZZjalMvvWXg',
            center: new Microsoft.Maps.Location({{ community.getLatitude() }}, {{ community.getLongitude() }}),
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: 7,
            width: w - 15,
            height:w - 15
        };
       var map = new Microsoft.Maps.Map(document.getElementById("bing_map_canvas"), mapInitOpts);
       var location = new Microsoft.Maps.Location({{ community.getLatitude() }}, {{ community.getLongitude() }});
        // Add a pin to the center of the map, using a custom icon
       var pin = new Microsoft.Maps.Pushpin(location); 
     	// Create the infobox for the pushpin
       map.entities.push(pin);
     }
    getMap();
</script>
{% endblock %}
