 {% extends '::base.html.twig' %} {% block body %}
<div class="container">
	{{ include('::header.html.twig') }}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 model-gallery">
			<div id="container">
				{% for home in homes %}
				<div class="pin">
					<a href="{{ path('h', {'id': home.getId()}) }}">
						<img class="pin-image"
						src="{{ '/uploads/'~home.getHomeModel().getFacades()[0].getPath()~'.jpg' }}">
					</a>
					<div class="row">
						<div class="col-xs-12">
							<h5>{{ home.getHomeModel().getName() }}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ home.getHomeModel().getSquareFeet() | round}} square feet, {{ home.getHomeModel().getNumBeds()
							}} bedrooms，{{ home.getHomeModel().getNumBaths() }} bathrooms</div>
						<div class="col-xs-12">${{ home.getPrices()[0].getPrice() / 1000 |
							round }}k</div>
					</div>
					{% if not home.getHomeModel().getImages() is empty %}
					<div class="ribbon-wrapper-green">
						<div class="ribbon-green">Photos</div>
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="piece">
				<h4 class="text-center">{{ community.getName() }} community</h4>
				<table class="table table-hover">
					<tbody>
						<tr>
							<td scope="row">Address{{ community.getAddress() }} {{
								community.getCity() }}, {{ community.getState() }} {{
								community.getZipcode() }}</td>
						</tr>
						<tr>
							<td scope="row">Homes available: {{ homes|length }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="piece">
				<h4 class="text-center">Schools</h4>
				<div class="model-side-detail">
					<table class="table table-hover">
						<tbody>
							{% for school in community.getSchools() %}
							<tr>
								<td scope="row"><span class="label label-danger">{{
										school.getGsRating() }}</span>&nbsp;&nbsp;{{
									school.getName() }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="piece" id="map-piece">
				<h4 class="text-center">Map</h4>
				<div id="bing_map_canvas"></div>
			</div>
		</div>
	</div>
	<hr />
	{{ include('::footer.html.twig') }}
</div>
{% endblock %} {% block javascripts %}
<script type="text/javascript"
	src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=ngt"></script>
<script type="text/javascript">
    function getMap(){
        var w = $("#map-piece").width();
        var mapInitOpts = {
            credentials: 'AqpckLVrDZE9ehOKwFREOF16SWFONVDd9KqviWPOeoiE6oSn-Fu6YZZjalMvvWXg',
            center: new Microsoft.Maps.Location({{ community.getLatitude() }}, {{ community.getLongitude() }}),
            mapTypeId: Microsoft.Maps.MapTypeId.birdseye,
            zoom: 16,
            width: w - 15,
            height:w - 15
        };
       var map = new Microsoft.Maps.Map(document.getElementById("bing_map_canvas"), mapInitOpts);
       var location = new Microsoft.Maps.Location({{ community.getLatitude() }}, {{ community.getLongitude() }});
        // Add a pin to the center of the map, using a custom icon
       var pin = new Microsoft.Maps.Pushpin(location); 
     	// Create the infobox for the pushpin
       map.entities.push(pin);
     }
    getMap();
</script>
{% endblock %}
