 {% extends '::base.html.twig' %} {% block body %}
<div class="head-box">
	<div class="banner-background"
		style="opacity: 1; background-image: url(/images/{{ area }}_cover.jpg);"></div>
	<div class="header">{{ include('::header.html.twig') }}</div>
	<div class="new-banner"></div>
</div>
<div class="container">
	<div class="row" style="margin-top: 15px">
		<div class="col-sm-3">
			<select class="form-control" id="select-price">
				<option>Price</option>
				<option>Below 320k</option>
				<option>320k-790k</option>
				<option>Above 790k</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="select-sqft">
				<option>Square Feet</option>
				<option>Below 2150</option>
				<option>2150-3230</option>
				<option>3230-4300</option>
				<option>Above 4300</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="select-bed">
				<option>Bedrooms</option>
				<option>1-2</option>
				<option>3-4</option>
				<option>5 and above</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="select-builder">
				<option>Builder</option>
				<option>Lennar</option>
				<option>Pulte Homes</option>
				<option>D.R. Horton</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="container">
				{% for model in models %}
				<div class="pin">
					<a href="{{ path('model', {'id': model.getId()}) }}"> <img
						class="pin-image"
						src="{{ '/uploads/'~model.getFacades()[0].getPath()~'.jpg' }}"></a>
					<div class="row">
						<div class="col-xs-12">
							<h5>{{ model.getName() }}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ model.getSquareFeet() |
							round}} sqft， {{ model.getNumBeds() }} Beds，{{ model.getNumBaths() }} Baths
						</div>
						<div class="col-xs-12">{% if starting_prices[model.getId()] == 0
							%} Sold out {% else %} Starting from ${{ (starting_prices[model.getId()] / 
							1000) | round }}k {% endif %}</div>
					</div>
					{% if model.getHasPanorama() == 'yes' %}
					<div class="ribbon-wrapper-red">
						<div class="ribbon-red">Panorama</div>
					</div>
					{% else %} {% if not model.getImages() is empty %}
					<div class="ribbon-wrapper-green">
						<div class="ribbon-green">Photos</div>
					</div>
					{% endif %} {% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-right">
			<nav>
				<ul class="pagination">
					{% for i in page_array %} {% if i == page %}
					<li class="active"><a
						href="{{ path('home', {'area': area, 'page': i}) }}">{{ i }}</a></li>
					{% else %}
					<li><a href="{{ path('home', {'area': area, 'page': i}) }}">{{ i }}</a></li>
					{% endif %} {% endfor %}
				</ul>
			</nav>
		</div>
	</div>
	<hr />
	{{ include('::footer.html.twig') }}
</div>
{% endblock %} {% block javascripts %}
<script type="text/javascript">
	var search_func = function() {
		var price_index = $("#select-price").prop("selectedIndex");
		var sqft_index = $("#select-sqft").prop("selectedIndex");
		var bed_index = $("#select-bed").prop("selectedIndex");
		var builder_index = $("#select-builder").prop("selectedIndex");
		var url = "{{ path('search') }}?area={{ area }}" + "&p=" + price_index + "&s=" + sqft_index + "&b=" + bed_index + "&bu=" + builder_index;
		window.location.replace(url);
	};
	$('#select-price').on('change', search_func);
	$('#select-sqft').on('change', search_func);
	$('#select-bed').on('change', search_func);
	$('#select-builder').on('change', search_func);
</script>
{% endblock %}
