 {% extends '::base.html.twig' %} {% block body %}
<div class="container">
	{{ include('::header.html.twig') }}
	<div class="row model-gallery">
		<div id="columns">
			{% for model in models %}
			<div class="pin">
				<a href="{{ path('model', {'id': model.getId()}) }}"> <img
					class="pin-image"
					src="{{ '/uploads/'~model.getFacade().getPath()~'.jpg' }}"></a>
				<h4>{{ model.getName() }}</h4>
				<p>{{ (model.getSquareFeet() * 0.092903) | round}} 平方米</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
