 {% extends '::base.html.twig' %} {% block body %}
<div class="head-box">
	<div class="banner-background"
		style="opacity: 1; background-image: url(/images/{{ area }}_cover.jpg);"></div>
	<div class="new-banner"></div>
	<div id="header">
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#home-header">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('homepage') }}">搜美房</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="home-header">
					<ul class="nav navbar-nav headerCases">
						<li><a class="cta grey small rounded"
							href="{{ path('home', {'page': 1, 'area': 'seattle'}) }}"
							id="seattle-button">西雅图</a></li>
						<li><a class="cta grey small rounded"
							href="{{ path('home', {'page': 1, 'area': 'portland'}) }}"
							id="portland-button">波特兰</a></li>
						<li><a class="cta grey small rounded"
							href="{{ path('home', {'page': 1, 'area': 'sf'}) }}"
							id="sf-button">旧金山</a></li>
						<li><a class="cta grey small rounded"
							href="{{ path('home', {'page': 1, 'area': 'la'}) }}"
							id="la-button">洛杉矶</a></li>
						<li><a class="cta grey small rounded"
							href="{{ path('home', {'page': 1, 'area': 'houston'}) }}"
							id="la-button">休斯顿</a></li>
						<li><a class="cta grey small rounded"
							href="{{ path('home', {'page': 1, 'area': 'miami'}) }}"
							id="la-button">迈阿密</a></li>
						<li><a class="cta grey small rounded"
							href="{{ path('home', {'page': 1, 'area': 'atlanta'}) }}"
							id="la-button">亚特兰大</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>




<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="row category-bar">
				<div class="col-lg-12 text-center">
					<div class="category-item">
						<img src="/images/school.jpg" alt="..." class="img-rounded">
						<div class="category-desc">
							<h5>优秀学区</h5>
						</div>
					</div>
					<div class="category-item">
						<img src="/images/invest.jpg" alt="..." class="img-rounded">
						<div class="category-desc">
							<h5>投资升值</h5>
						</div>
					</div>
					<div class="category-item">
						<img src="/images/downtown.jpg" alt="..." class="img-rounded">
						<div class="category-desc">
							<h5>热门地段</h5>
						</div>
					</div>
					<div class="category-item">
						<img src="/images/sea.jpg" alt="..." class="img-rounded">
						<div class="category-desc">
							<h5>养老休闲</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<select class="form-control">
				<option>价格：人民币</option>
				<option>小于200万</option>
				<option>200万-500万</option>
				<option>大于500万</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control">
				<option>使用面积</option>
				<option>小于200平方米</option>
				<option>200-300平方米</option>
				<option>300-400平方米</option>
				<option>大于400平方米</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control">
				<option>卧室数量</option>
				<option>1-2</option>
				<option>3-4</option>
				<option>5以上</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control">
				<option>户型</option>
				<option>独栋别墅</option>
				<option>连体别墅</option>
				<option>公寓</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="container">
				{% for model in models %}
				<div class="pin">
					<a href="{{ path('model', {'id': model.getId()}) }}"> <img
						class="pin-image"
						src="{{ '/uploads/'~model.getFacades()[0].getPath()~'.jpg' }}"></a>
					<div class="row">
						<div class="col-xs-12">
							<h5>{{ model.getName() }}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ (model.getSquareFeet() * 0.092903) |
							round}} 平方米， {{ model.getNumBeds() }}卧，{{ model.getNumBaths() }}卫
						</div>
						<div class="col-xs-12">{% if starting_prices[model.getId()] == 0
							%} 无现房 {% else %} ￥{{ (starting_prices[model.getId()] * 6.3 /
							10000) | round }} 万元起 {% endif %}</div>
					</div>
					{% if not model.getImages() is empty %}
					<div class="ribbon-wrapper-green">
						<div class="ribbon-green">样板间</div>
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-right">
			<nav>
				<ul class="pagination">
					{% for i in page_array %} {% if i == page %}
					<li class="active"><a
						href="{{ path('home', {'area': area, 'page': i}) }}">{{ i }}</a></li>
					{% else %}
					<li><a href="{{ path('home', {'area': area, 'page': i}) }}">{{ i }}</a></li>
					{% endif %} {% endfor %}
				</ul>
			</nav>
		</div>
	</div>
	<hr />
	{{ include('::footer.html.twig') }}
</div>
{% endblock %}
