 {% extends '::base.html.twig' %} {% block body %}
<div class="container">
	{{ include('::header.html.twig') }}
	<div class="row area-cover">
		<div class="col-lg-12">
			<img src="/images/la_cover.jpg" class="img-responsive">
			<div class="cover-text">
				<h2>洛杉矶</h2>
				<h4>天使之城是全世界的文化、科学、技术、国际贸易和高等教育中心之一，还拥有世界知名的各种专业与文化领域的机构。该市及紧邻的区域，在大众娱乐—诸如电影、电视、音乐方面构成了洛杉矶的国际声誉和全球地位的基础。</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="container">
				{% for model in models %}
				<div class="pin">
					<a href="{{ path('model', {'id': model.getId()}) }}"> <img
						class="pin-image"
						src="{{ '/uploads/'~model.getFacades()[0].getPath()~'.jpg' }}"></a>
					<div class="row">
						<div class="col-xs-8">
							<h4>{{ model.getName() }}</h4>
						</div>
						<div class="col-xs-4">
							<h4>
								<img src="/images/lennar.png" class="pin-builder">
							</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ (model.getSquareFeet() * 0.092903) |
							round}} 平方米， {{ model.getNumBeds() }}卧，{{ model.getNumBaths() }}卫</div>

						<div class="col-xs-12">{% if starting_prices[model.getId()] == 0
							%} 无现房 {% else %} ￥{{ (starting_prices[model.getId()] * 6.3 /
							10000) | round }} 万元起 {% endif %}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr />
	{{ include('::footer.html.twig') }}
</div>
{% endblock %}{% block javascripts %}
<script type="text/javascript">
	$('#la-button').addClass('active');
</script>
{% endblock %}
