 {% extends '::base.html.twig' %} {% block body %}
<div class="container">
	{{ include('::header.html.twig') }}
	<div class="row">
		<div class="col-md-12">
			<img src="{{ '/uploads/'~model.getFacade().getPath()~'.jpg' }}"
				class="img-responsive">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">{{ model.getName() }}户型</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td scope="row">使用面积</td>
						<td>{{ (model.getSquareFeet() * 0.092903) | round}} 平方米</td>
					</tr>
					<tr>
						<td scope="row">楼层</td>
						<td>{{ model.getNumStories() }}</td>
					</tr>
					<tr>
						<td scope="row">卧室</td>
						<td>{{ model.getNumBeds() }}</td>
					</tr>
					<tr>
						<td scope="row">洗手间</td>
						<td>{{ model.getNumBaths() }}</td>
					</tr>
					<tr>
						<td scope="row">车库</td>
						<td>{{ model.getNumGarages() }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">样板间</h3>
		</div>
	</div>
	<div class="row">
		{% for image in images %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 thumb">
			<a class="fancybox" rel="group"
				href="{{'/uploads/'~image.getPath()~'.jpg'}}">
				<div class="model_thumb fade img-responsive"
					style="background-image: url('{{'/uploads/'~image.getPath()~'.jpg'}}');"></div>
			</a>
		</div>
		{% endfor %}
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">户型图</h3>
		</div>
	</div>
	<div class="row">
		{% for floorplan in floorplans %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 thumb">
			<a class="fancybox" rel="group"
				href="{{'/uploads/'~floorplan.getPath()~'.jpg'}}">
				<div class="floorplan_thumb fade"
					style="background-image: url('{{'/uploads/'~floorplan.getPath()~'.jpg'}}');"></div>
			</a>
		</div>
		{% endfor %}
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">位置</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="bing_map_canvas"></div>
			<br />
		</div>
	</div>
	<hr />


	{% endblock %} {% block javascripts %}
	<script type="text/javascript"
		src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
	<script type="text/javascript">
    function getMap(){
        var mapInitOpts = {
            credentials: 'AqpckLVrDZE9ehOKwFREOF16SWFONVDd9KqviWPOeoiE6oSn-Fu6YZZjalMvvWXg',
            center: new Microsoft.Maps.Location(45.5, -122.5),
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: 7
        };
       var map = new Microsoft.Maps.Map(document.getElementById("bing_map_canvas"), mapInitOpts);
       // Retrieve the location of the map center 
       var center = map.getCenter();
       
       // Add a pin to the center of the map, using a custom icon
       var pin = new Microsoft.Maps.Pushpin(center, {icon: '/images/home_icon.png', width: 30, height: 30, draggable: true}); 

       map.entities.push(pin);
     }
    getMap();
      </script>

	{% endblock %}