 {% extends '::base.html.twig' %} {% block body %}
<div class="container">
	{{ include('::header.html.twig') }}
	<div class="row model-gallery">
		<div class="model-main thumb piece">
			<h3>样板间</h3>
			{% for image in images %} <a class="fancybox" rel="group"
				href="{{'/uploads/'~image.getPath()~'.jpg'}}">
				<div class="model_thumb fade img-responsive"
					style="background-image: url('{{'/uploads/'~image.getPath()~'.jpg'}}');"></div>
			</a> {% endfor %}
		</div>

		<div class="model-side piece">
			<h3 class="text-center">{{ model.getName() }}户型</h3>
			<img src="{{ '/uploads/'~model.getFacade().getPath()~'.jpg' }}"
				class="model_thumb img-responsive">
			<div class="model-side-detail">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td scope="row">使用面积</td>
							<td>{{ (model.getSquareFeet() * 0.092903) | round}} 平方米</td>
						</tr>
						<tr>
							<td scope="row">楼层</td>
							<td>{{ model.getNumStories() }}</td>
						</tr>
						<tr>
							<td scope="row">卧室</td>
							<td>{{ model.getNumBeds() }}</td>
						</tr>
						<tr>
							<td scope="row">洗手间</td>
							<td>{{ model.getNumBaths() }}</td>
						</tr>
						<tr>
							<td scope="row">车库</td>
							<td>{{ model.getNumGarages() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="model-main thumb piece">
			<h3>户型图</h3>
			{% for floorplan in floorplans %}
			<div class="floorplan-thumb-box">
				<a class="fancybox" rel="group"
					href="{{'/uploads/'~floorplan.getPath()~'.jpg'}}"> <img
					src="{{'/uploads/'~floorplan.getPath()~'.jpg'}}" class="floorplan-thumb">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<hr />
	{{ include('::footer.html.twig') }}
</div>
{% endblock %}
