 {% extends '::base.html.twig' %} {% block body %}
<div class="head-box">
	<div class="banner-background"
		style="opacity: 1; background-image: url(/images/{{ area }}_cover.jpg);"></div>
	<div class="new-banner"></div>
	<div id="header">{{ include('::header.html.twig') }}</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="row category-bar">
				<div class="col-lg-12 text-center">
					<div class="category-item">
						<img src="/images/school.jpg" alt="..." class="img-rounded">
						<div class="category-desc">
							<h5>优秀学区</h5>
						</div>
					</div>
					<div class="category-item">
						<img src="/images/invest.jpg" alt="..." class="img-rounded">
						<div class="category-desc">
							<h5>投资升值</h5>
						</div>
					</div>
					<div class="category-item">
						<img src="/images/downtown.jpg" alt="..." class="img-rounded">
						<div class="category-desc">
							<h5>热门地段</h5>
						</div>
					</div>
					<div class="category-item">
						<img src="/images/sea.jpg" alt="..." class="img-rounded">
						<div class="category-desc">
							<h5>养老休闲</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<select class="form-control" id="select-price">
				<option>价格：人民币</option>
				<option>小于200万</option>
				<option>200万-500万</option>
				<option>大于500万</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="select-sqft">
				<option>使用面积</option>
				<option>小于200平方米</option>
				<option>200-300平方米</option>
				<option>300-400平方米</option>
				<option>大于400平方米</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="select-bed">
				<option>卧室数量</option>
				<option>1-2</option>
				<option>3-4</option>
				<option>5以上</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="select-type">
				<option>户型</option>
				<option>独栋别墅</option>
				<option>连体别墅</option>
				<option>公寓</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="container">
				{% for home in homes %}
				<div class="pin">
					<a href="{{ path('h', {'id': home.getId()}) }}"> <img
						class="pin-image"
						src="{{ '/uploads/'~home.getHomeModel().getFacades()[0].getPath()~'.jpg' }}"></a>
					<div class="row">
						<div class="col-xs-12">
							<h5>{{ home.getHomeModel().getName() }}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ (home.getHomeModel().getSquareFeet() *
							0.092903) | round}} 平方米， {{ home.getHomeModel().getNumBeds()
							}}卧，{{ home.getHomeModel().getNumBaths() }}卫</div>
						<div class="col-xs-12">￥{{ (home.getPrices()[0].getPrice() * 6.3 /
							10000) | round }} 万元</div>
					</div>
					{% if not home.getHomeModel().getImages() is empty %}
					<div class="ribbon-wrapper-green">
						<div class="ribbon-green">样板间</div>
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-right">
			<nav>
				<ul class="pagination">
					{% for i in page_array %} {% if i == page %}
					<li class="active">{% else %}
					
					<li>{% endif %} <a
						href="{{ path('search') }}?area={{ area }}&p={{ price_index }}&s={{ sqft_index }}&b={{ bed_index }}&page={{ i }}">{{
							i }}</a></li>{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
	<hr />
	{{ include('::footer.html.twig') }}</ div> {% endblock %} {% block
	javascripts %}
	<script type="text/javascript">
	var search_func = function() {
		var price_index = $("#select-price").prop("selectedIndex");
		var sqft_index = $("#select-sqft").prop("selectedIndex");
		var bed_index = $("#select-bed").prop("selectedIndex");
		var url = "{{ path('search') }}?area={{ area }}" + "&p=" + price_index + "&s=" + sqft_index + "&b=" + bed_index;
		window.location.replace(url);
	};
	$('#select-price').on('change', search_func);
	$('#select-sqft').on('change', search_func);
	$('#select-bed').on('change', search_func);
	$(function(){
		$('#select-price option')[{{ price_index }}].selected = true;
		$('#select-sqft option')[{{ sqft_index }}].selected = true;
		$('#select-bed option')[{{ bed_index }}].selected = true;
	});
</script>
	{% endblock %}