 {% extends '::base.html.twig' %} {% block body %}
<div class="container">
	{{ include('::header.html.twig') }}
	<div class="row area-cover">
		<div class="col-lg-12">
			<img src="/images/seattle_cover.jpg" class="img-responsive">
			<div class="cover-text">
				<h2>西雅图</h2>
				<h4>西雅图又称翡翠之城。1995年，西雅图被《货币》杂志评为“全美最佳居住地”，1996年被《财富》杂志评为“最佳生活工作城市”，1998年是全美公认生活质量最高的城市。这里诞生了微软，波音，亚马逊等科技巨头。</h4>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div id="container">
				{% for model in models %}
				<div class="pin">
					<a href="{{ path('model', {'id': model.getId()}) }}"> <img
						class="pin-image"
						src="{{ '/uploads/'~model.getFacades()[0].getPath()~'.jpg' }}"></a>
					<div class="row">
						<div class="col-xs-8">
							<h4>{{ model.getName() }}</h4>
						</div>
						<div class="col-xs-4">
							<h4>
								<img src="/images/lennar.png" class="pin-builder">
							</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ (model.getSquareFeet() * 0.092903) |
							round}} 平方米， {{ model.getNumBeds() }}卧，{{ model.getNumBaths() }}卫</div>

						<div class="col-xs-12">{% if starting_prices[model.getId()] == 0
							%} 无现房 {% else %} ￥{{ (starting_prices[model.getId()] * 6.3 /
							10000) | round }} 万元起 {% endif %}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr />
	{{ include('::footer.html.twig') }}
</div>
{% endblock %}{% block javascripts %}
<script type="text/javascript">
	$('#seattle-button').addClass('active');
</script>
{% endblock %}
