<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="美房,meifang,搜美房,房地产,房产,购房,搜房,美国,美国地产,新房,西雅图,旧金山,洛杉矶,休斯顿,迈阿密,亚特兰大,海外">
        <title>{% block title %}Meifang{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.fancybox.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/jquery-1.11.2.js') }}"></script>
        <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/isotope.pkgd.js') }}"></script>
        <script src="{{ asset('js/imagesloaded.pkgd.js') }}"></script>
        <script src="{{ asset('js/home.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
