<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#home-header">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('homepage') }}">Meifang</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="home-header">
			<ul class="nav navbar-nav headerCases">
				<li><a class="cta grey small rounded"
					href="{{ path('home', {'page': 1, 'area': 'seattle'}) }}"
					id="seattle-button">Seattle</a></li>
				<li><a class="cta grey small rounded"
					href="{{ path('home', {'page': 1, 'area': 'portland'}) }}"
					id="portland-button">Portland</a></li>
				<li><a class="cta grey small rounded"
					href="{{ path('home', {'page': 1, 'area': 'sf'}) }}" id="sf-button">San Francisco</a></li>
				<li><a class="cta grey small rounded"
					href="{{ path('home', {'page': 1, 'area': 'la'}) }}" id="la-button">Los Angeles</a></li>
				<li><a class="cta grey small rounded"
					href="{{ path('home', {'page': 1, 'area': 'houston'}) }}"
					id="la-button">Houston</a></li>
				<li><a class="cta grey small rounded"
					href="{{ path('home', {'page': 1, 'area': 'miami'}) }}"
					id="la-button">Miami</a></li>
				<li><a class="cta grey small rounded"
					href="{{ path('home', {'page': 1, 'area': 'atlanta'}) }}"
					id="la-button">Atlanta</a></li>
			</ul>
		</div>
	</div>
</nav>
