<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#home-header">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('home') }}">搜美房</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="home-header">
			<ul class="nav navbar-nav headerCases">
				<li><a class="cta grey small rounded" href="{{ path('seattle') }}" id="seattle-button">西雅图</a></li>
				<li><a class="cta grey small rounded" href="{{ path('portland') }}" id="portland-button">波特兰</a></li>
				<li><a class="cta grey small rounded" href="{{ path('sf') }}" id="sf-button">旧金山</a></li>
				<li><a class="cta grey small rounded" href="{{ path('la') }}" id="la-button">洛杉矶</a></li>
			</ul>
		</div>
	</div>
</nav>
